@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:ital,wght@0,300;1,200&family=Poppins:wght@400;500;600&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #010115;
}


.header {
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: flex;
  place-items: center;
  justify-content: space-between;
  background-color: #010115;
  padding: 0 10px;
}

.logo {
  max-width: 7vw;
  z-index: 3;
}

.mainMenu{
  display: flex;
  list-style: none;
  gap: 3vw;
  z-index: 3;
  text-decoration: none;
  color: #fff;
  font-size: 1.1vw;
  transition: all 0.5s;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 13px;
  transition: 0.5s ease;
  border-radius: 40px;
}

nav .mainMenu li a:hover {
  background: #ccaced;
}

nav .openMenu {
  font-size: 20px;
  display: none;
  color: #fff;
  cursor: pointer;
}

nav .closeMenu{
  font-size: 20px;
  display: none;
  cursor: pointer;
  color: #fff;
}

.hero {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.hero-img {
  position: absolute;
  width: 35vw;
  margin-left: 60vw;
  z-index: 1;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-right: 30%;
  margin-bottom: 30%;
}

.container h2 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.container h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #7a31bf;
}

.container h2:nth-child(2) {
  color: #f2ecf8;
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

.hero-subheading {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.prof {
  color: #fffa;
  font-size: 10px;
 
}

.hero-model {
  position: absolute;
}

model-viewer {
  width: 64vw;
  height: 95vh;
  z-index: 1;
}

.about-me {
  display: grid;
  font-family: 'Poppins', sans-serif;
  position: relative;
  place-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 10vw;
  text-align: center;
  margin-bottom: 20%;
}

.about-me-description {
  width: 30vw;
  height: 40vh;
  position: absolute;
  margin-top: -40vh;
  margin-left: -50vw;
}

.introduction {
  color: #ffff;
  font-size: 1vw;
  padding-bottom: 2vh;
}

.about-me-title {
  color: #fff;
  font-size: 3.5vw;
  font-family: 'Poppins', sans-serif;
}

.about-me-subheading {
  color: #ffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  padding-top: 4vh;
}

.animation {
  opacity: 0;
  animation: initialOpacity 0.1s forwards, showUp 4s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes initialOpacity {
  to {
    opacity: 0;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.cards {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 85vh;
}

.card {
  position: relative;
  display: grid;
  place-items: center;
  width: 10vw;
  height: 28vh;
  margin: 1vw;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 9px #fff;
}

.reactImg {
  width: 70%;
  z-index: 1;
}

.angular {
  width: 70%;
  z-index: 1;
}

.sql {
  width: 70%;
  z-index: 1;
}

.word {
  width: 70%;
  z-index: 1;
}

.htmlImg {
  width: 70%;
  z-index: 1;
}

.threeJsImg {
  width: 180%;
  z-index: 1;
  margin-top: -2vh;
}

.js {
  width: 60%;
  z-index: 1;
}

.title {
  color: #fff;
  position: relative;
  font-size: 1.2vw;
  text-align: center;
  z-index: 10;
  font-weight: 400;
}

.card::before {
  content: "";
  position: absolute;
  width: 20vw;
  height: 25vh;
  background: linear-gradient(#00ccff, #d400d4);
  animation: rotation 5s linear infinite;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0.15vw;
  background-color: #16063a;
  border-radius: 15px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.time-line-section {
  margin-top: 13vh;
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  height: auto;
  background-color: #010115;
}

.time-line-content {
  display: grid;
  place-items: center;
  padding-bottom: 25vh;
}

.heading-description {
  display: grid;
  place-items: center;
  /* margin-bottom: 10vh; */
  margin-left: -50vw;
}

.time-line-title {
  margin-top: 30px;
  color: #ffffff5a;
  padding-bottom: 2vh;
  font-family: 'Poppins', sans-serif;
  margin-left: -20vw;
}

.time-line-subheading {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 3.1vw;
  /* margin-left: 62vw; */
}

.timeline {
  position: relative;
  display: grid;
  place-items: center;
}

.line {
  position: absolute;
  z-index: 2;
  width: 0.15vw;
  top: -7vh;
  background-color: #fff;
  box-shadow: 0 0 30px #fff;
}

.line:before,
.line::after {
  position: absolute;
  display: block;
  content: "";
  width: 1.2vw;
  height: 2.3vh;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.time-line-description {
  display: flex;
  font-family: 'Poppins', sans-serif;
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 1.2vh 0;
  padding: 1px;
  align-items: center;
  width: 45vw;
  min-height: 35vh;
  opacity: 0;
}

.time-line-description:nth-child(odd) {
  flex-direction: row-reverse;
  /* transform: translateX(50%);  <-- Uncommenting this line may cause issues */
}

.mini-circle {
  position: absolute;
  display: block;
  width: 1.2vw;
  height: 2.3vh;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content {
  width: calc(50% - 2vw);
  padding: 2vh 2vw;
  border-radius: 5%;
  color: #fff;
  box-shadow: 0 0 10px #fffa;
  transition: transform 0.3s ease;
}

.content:hover {
  transform: scale(1.05);
}

.time-line-description:nth-child(n) {
  transform: none;
  opacity: 1;
}

.content-timeline-description {
  color: #fffa;
  font-size: 1.2vw;
  padding-top: 2vh;
  line-height: 1.2;
}

.youtube {
  position: relative;
  width: 100vw;
  height: auto;
  margin-top: -50px;
}

.youtube:before {
  content: "";
  position: absolute;
  bottom: -20vh;
  width: 100vw;
  height: 20vh;
  background: -o-linear-gradient(to top, transparent, #010115);
  margin-left: -20vh;
  z-index: 1;
}

.youtube-title {
  color: #fff;
  font-size: 3.5vw;
  font-family: 'Poppins', sans-serif;
  margin-left: 10vw;
}


.videos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.youtube-videos {
  display: grid;
  place-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.youtube-videos:hover {
  transform: scale(1.05);
}


.images {
  width: 250px;
}

.videos-title {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 3vh;
  font-family: 'Poppins', sans-serif;
}

.videos-description {
  color: #fffa;
  width: 20vw;
  padding-top: 5vh;
  font-size: 1.2vw;
  line-height: 1.1;
  font-family: 'Poppins', sans-serif;
}

.btn {
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-items: center;
  width: 10vw;
  height: 5vh;
  margin-top: 5vh;
  text-decoration: none;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #fffa;
  color: #010115;
  font-size: 12px;
  transition: all 0.5s;
}

.btn:hover {
  box-shadow: 0 0 10px rgb(140, 56, 224);
}


.final {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-image: url(/assets/hero/purple.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 3.5vw;
}

#form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  /* Adjusted width */
  max-width: 600px;
  /* Added max-width */
  background-color: #16083a;
  border-radius: 15px;
  padding: 20px;
}

.form-content {
  display: grid;
  place-items: center;
  width: 100%;
}

.email-box,
.subject-box {
  display: grid;
  place-items: center;
  width: 100%;
}

.email-title,
.subject-title,
.message-title {
  color: #fff;
  font-size: 1.4vw;
  margin-bottom: 5px;
}

.email-input,
.subject-input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 400px;
  /* Adjusted max-width */
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

.message-box {
  display: grid;
  place-items: center;
  width: 100%;
}

.message-input {
  width: 100%;
  max-width: 400px;
  /* Adjusted max-width */
  height: 150px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
}

#buttons {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  place-items: center;
  gap: 0px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 20px;
}

.send-button {
  color: #fff;
}

.send-button,
.reset-button {
  width: 50px;
  height: 30px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 12px;
  /* box-shadow: 0 0 10px #fff; */
  margin: 5px;
}


.robo {
  width: 50vw;
}



@media (max-width: 600px) {
  .container {
    margin-left: 160px;
    margin-top: -60%;
  }

  .hero-subheading{
    white-space: nowrap;
    font-size: 14px;
  }

  .prof{
    white-space: nowrap;
    font-size: 10px;
  }

.header{
  padding-top: 10px;
}

.mainMenu{
  display: none;
}

nav .openMenu{
  display: block;
}

nav .mainMenu {
  height: 80vh;
  transition: top 1s ease 0s;
}

.introduction{
  font-size: 13px;
}

.about-me-title{
  font-size: larger;
}
.about-me-description{
margin-bottom: 120%;
margin-right: -45%;
width: 70%;
}

.cards{
  margin-top: -70%;
}

.card{
  width: 12%;
  height: 40px;
}

.time-line-section{
  margin-top: -100%;
}

.content {
  width: calc(200% - 1vw);
}

.mini-circle {
  width: 4.5vw;
  height: 2.3vh;
  border-radius: 50%;
  background-color: #fff;
  left: 1%;
  top: 20%;
  transform: translateX(-70%);
}

.content-timeline-description {
  color: rgb(255, 255, 255);
  font-size: 13px;
  padding-top: 2vh;
  line-height: 1.2;
}
.time-line-description{
  width: 70vw;
}

.time-line-title{
  font-size: small;
}
.time-line-subheading{
  font-size: large;
}

.youtube{
  margin-top: -40%;
}
.youtube-title{
  font-size: larger;
}

.videos-description{
  width: 50vw;
  font-size: 13px;
}
.btn{
  width: 7vh;
  height: 4vh;
  margin-bottom: 3vh;
  font-size: 13px;
}

}
